@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", sans-serif;
  background-color: white;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.form-input{
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--Black-200, rgba(0, 0, 0, 0.20));
  height: 44px;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this to your global CSS file if needed */
.nav-link {
  @apply relative inline-block px-3 py-2 lg:rounded-lg;
}

.nav-link::before {
  @apply absolute inset-0 bg-white opacity-0 transition-opacity duration-300 lg:rounded-lg;
  content: '';
  z-index: -1;
}

.nav-link:hover::before {
  @apply opacity-20 lg:rounded-lg;
}

